/* General styles */
body {
    background-color: #eeeeee;
    color: #000000;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header, footer {
    background-image: url('assets/2.jpg');
    background-position: center; 
    background-size: cover; 
}

.navbar-brand {
    font-size: 1.5rem;
}

.nav-link {
    color: #ffffff !important;
}

.nav-link:hover {
    color: #cc1def !important;
}

.header-content {
    margin-top: 100px;
    text-align: center;
}

#yo h1, #yo h2 {
    color: #b425f6;
}

#yo .lead {
    color: #000000;
}

.btn-outline-danger {
    border-color: #f307df;
    color: #f307df;
}

.btn-outline-danger:hover {
    background-color: #cc1def;
    color: #ffffff;
}

#app .Typewriter__wrapper {
    font-size: 2.5rem;
    font-weight: bold;
    color: #1d82ef;
}

/* Habilidades Section */
#habilidades .subtitulo-habilidades {
    font-size: 1.5rem;
    font-weight: bold;
    color: #cc1def;
}

#habilidades .feature-icon {
    font-size: 3rem;
    color: #cc1def;
    margin-bottom: 1rem;
}

.icono {
    font-size: 2rem;
    color: #e508d6;
}

/* Proyectos Section */
#proyectos .card {
    background-image: url('assets/1.jpg');
    color: #000000;
    margin: 0;
    padding: 0;
    background-position: center; 
    background-size: cover; 
}

#proyectos .card img {
    height: 200px;
    object-fit: cover;
}

#proyectos .card .text-body-secondary {
    color: #cc1def;
}

/* Curso Section */
#curso h1 {
    color: #000000;
}

#curso .carousel-item {
    height: 600px; 
}

#curso .carousel-item .card {
    height: 100%; 
}

#curso .card-img-top {
    height: 250px; 
    object-fit: cover;
}

#curso .carousel-control-prev-icon, 
#curso .carousel-control-next-icon {
    background-color: #1def4a; /
}

/* Estilos para enlaces de tarjetas */
.card-link {
    text-decoration: none;
}

.card-link:hover {
    text-decoration: none; 
    color: #f906e9; 
}

.card-link:focus {
    outline: none; 
}

.card-link .card {
    border: 1px solid transparent; 
}

.card-link .card:hover {
    border: 1px solid #ef8d1d; 
}

/* Footer Section */
#contacto {
    color: #000000;
    text-align: center;
}

#contacto .bi {
    font-size: 2rem;
    color: #cc1def;
}

#contacto .bi:hover {
    color: #14dadd;
}

#derechos-de-autor {
    margin-top: 20px;
    font-size: 0.8rem;
    color: #f9f4f4;
}

